[Unit]
Description=dnsmasq customized by calico
Documentation=

[Service]
#User=...
ExecStart=/bin/bash -c '{{ romana_bin_dir }}/dnsmasq-calico --no-daemon --dhcp-range={{ romana_gw | ipaddr('address') }},{{ romana_gw | ipaddr('address') }},static,{{ romana_gw | ipaddr('netmask') }},1 --bridge-interface=romana-gw,tap* --interface romana-gw --interface tap* --read-ethers --bind-dynamic &>> {{ romana_log_dir }}/dnsmasq-calico.log'
KillMode=control-group
Restart=on-failure
StartLimitInterval=180s
StartLimitBurst=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
