[Unit]
Description=Romana Cloud Native Network Policy Agent Service
Documentation=https://github.com/romana/core

[Service]
#User=...
EnvironmentFile=-{{ romana_etc_dir }}/agent
ExecStart={{ romana_bin_dir }}/agent.py
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
