screen -t etcd
select 0
stuff "/home/ubuntu/kubernetes/cluster/ubuntu/binaries/master/etcd --listen-client-urls='http://0.0.0.0:4001' -advertise-client-urls='http://0.0.0.0:4001'^M"
screen -t kube-api
select 1
stuff "sleep 10 && /home/ubuntu/kubernetes/cluster/ubuntu/binaries/master/kube-apiserver --service-cluster-ip-range=10.254.0.0/16 --etcd-servers=http://__MASTER_IP__:4001 --address=0.0.0.0 --runtime-config=extensions/v1beta1=true,extensions/v1beta1/thirdpartyresources=true^M"
screen -t kube-controller
select 2
stuff "sleep 10 && /home/ubuntu/kubernetes/cluster/ubuntu/binaries/master/kube-controller-manager --logtostderr=true --v=0  --master=http://__MASTER_IP__:8080^M"
screen -t kube-scheduler
select 3
stuff "sleep 10 && /home/ubuntu/kubernetes/cluster/ubuntu/binaries/master/kube-scheduler --logtostderr=true --v=0 --master=http://__MASTER_IP__:8080^M"
screen -t kubelet
select 4
stuff "sleep 10 && /home/ubuntu/kubernetes/cluster/ubuntu/binaries/minion/kubelet --address=0.0.0.0 --hostname-override=__MASTER_ID__ --api-servers=http://__MASTER_IP__:8080 --network-plugin=cni --network-plugin-dir=/etc/cni/net.d^M"
screen -t kube-proxy
select 5
stuff "sleep 10 && /home/ubuntu/kubernetes/cluster/ubuntu/binaries/minion/kube-proxy --master=http://__MASTER_IP__:8080 --proxy-mode=iptables^M"
screen -t network-policy
select 6
stuff "until grep created /tmp/romana-tpr.log; do sleep 10; done; sleep 10; python /home/ubuntu/romana/kubernetes/k8s-listener.py --agent^M"
screen -t network-policy-agent
select 7
stuff "until grep created /tmp/romana-tpr.log; do sleep 10; done; sleep 10; python /home/ubuntu/romana/kubernetes/k8s-listener.py^M"
