[Unit]
Description=Romana Kubernetes Agent
Documentation=https://github.com/romana/kube
After=romana-agent.service
Wants=romana-agent.service

[Service]
#User=...
ExecStart=/usr/bin/python /usr/local/lib/romana-kube-agent --agent
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
