[Unit]
Description=Romana Kubernetes Policy Listener
Documentation=https://github.com/romana/core
After=romana-tenant.service
Wants=romana-tenant.service

[Service]
#User=...
EnvironmentFile=-{{ romana_etc_dir }}/listener
ExecStart={{ romana_bin_dir }}/listener -rootURL http://{{ romana_master_ip }}:9600 -logtostderr=true
Restart=on-failure
StartLimitInterval=180s
StartLimitBurst=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
