[Unit]
Description=Romana Cloud Native Networking Topology Service
Documentation=https://github.com/romana/core
After=romana-root.service
Wants=romana-root.service

[Service]
#User=...
EnvironmentFile=-{{ romana_etc_dir }}/topology
ExecStart={{ romana_bin_dir }}/topology -rootURL http://{{ romana_master_ip }}:9600
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
