[Unit]
Description=Romana Cloud Native Networking Tenant Service
Documentation=https://github.com/romana/core
After=romana-topology.service
Wants=romana-topology.service

[Service]
#User=...
EnvironmentFile=-{{ romana_etc_dir }}/tenant
ExecStart={{ romana_bin_dir }}/tenant -rootURL http://{{ romana_master_ip }}:9600
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
