[Unit]
Description=Romana Cloud Native Networking Watch Nodes Service
Documentation=https://github.com/romana/core
After=romana-topology.service
Wants=romana-topology.service

[Service]
User=ubuntu
EnvironmentFile=-{{ romana_etc_dir }}/watchnodes
ExecStart=/bin/bash -c '{{ romana_bin_dir }}/watchnodes &>> {{ romana_log_dir }}/watchnodes.log'
KillMode=control-group
Restart=on-failure
StartLimitInterval=180s
StartLimitBurst=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
