[Unit]
Description=Romana Cloud Native Networking IPAM Service
Documentation=https://github.com/romana/core
After=romana-tenant.service
Wants=romana-tenant.service

[Service]
#User=...
EnvironmentFile=-{{ romana_etc_dir }}/ipam
ExecStart={{ romana_bin_dir }}/ipam -rootURL http://{{ romana_master_ip }}:9600
Restart=always
StartLimitInterval=180s
StartLimitBurst=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
