[Unit]
Description=Romana Cloud Native Networking Policy Service
Documentation=https://github.com/romana/core
After=romana-tenant.service
Wants=romana-tenant.service

[Service]
#User=...
EnvironmentFile=-{{ romana_etc_dir }}/policy
ExecStart=/bin/bash -c '{{ romana_bin_dir }}/policy -rootURL http://{{ romana_master_ip }}:9600 &>> {{ romana_log_dir }}/tenant.log'
KillMode=control-group
Restart=on-failure
StartLimitInterval=180s
StartLimitBurst=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
