[Unit]
Description=Romana Cloud Native Networking Root Service
Documentation=https://github.com/romana/core

[Service]
#User=...
EnvironmentFile=-{{ romana_etc_dir }}/root
ExecStart={{ romana_bin_dir }}/root -c {{ romana_etc_dir }}/romana.conf.yml
Restart=always
StartLimitInterval=180s
StartLimitBurst=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
