[Unit]
Description=Romana Kubernetes Network Policy Service
Documentation=https://github.com/romana/kube
After=romana-topology.service
Wants=romana-topology.service

[Service]
#User=...
ExecStart=/usr/bin/python /usr/local/lib/romana-kube-np
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
