
module neutron-server 1.0;

require {
	type crontab_exec_t;
	type glance_api_exec_t;
	type NetworkManager_exec_t;
	type keystone_exec_t;
	type loadkeys_exec_t;
	type gpg_exec_t;
	type mysqld_exec_t;
	type glance_registry_exec_t;
	type fsadm_exec_t;
	type nova_exec_t;
	type httpd_config_t;
	type chfn_exec_t;
	type systemd_systemctl_exec_t;
	type login_exec_t;
	type traceroute_exec_t;
	type policykit_auth_exec_t;
	type ssh_keygen_exec_t;
	type vlock_exec_t;
	type ssh_exec_t;
	type dmesg_exec_t;
	type glance_scrubber_exec_t;
	type hostname_exec_t;
	type dbusd_exec_t;
	type plymouth_exec_t;
	type journalctl_exec_t;
	type ping_exec_t;
	type gpg_agent_exec_t;
	type su_exec_t;
	type checkpolicy_exec_t;
	type http_port_t;
	type sendmail_exec_t;
	type neutron_t;
	type unreserved_port_t;
	type memcached_exec_t;
	type groupadd_exec_t;
	type screen_exec_t;
	type systemd_passwd_agent_exec_t;
	type pinentry_exec_t;
	type passwd_exec_t;
	type systemd_notify_exec_t;
	type kdumpctl_exec_t;
	type systemd_tmpfiles_exec_t;
	type mysqld_safe_exec_t;
	type ssh_agent_exec_t;
	type mandb_exec_t;
	type mount_exec_t;
	type rsync_exec_t;
	class tcp_socket name_connect;
	class dir search;
	class file getattr;
}

#============= neutron_t ==============
allow neutron_t NetworkManager_exec_t:file getattr;
allow neutron_t checkpolicy_exec_t:file getattr;
allow neutron_t chfn_exec_t:file getattr;
allow neutron_t crontab_exec_t:file getattr;
allow neutron_t dbusd_exec_t:file getattr;
allow neutron_t dmesg_exec_t:file getattr;
allow neutron_t fsadm_exec_t:file getattr;
allow neutron_t glance_api_exec_t:file getattr;
allow neutron_t glance_registry_exec_t:file getattr;
allow neutron_t glance_scrubber_exec_t:file getattr;
allow neutron_t gpg_agent_exec_t:file getattr;
allow neutron_t gpg_exec_t:file getattr;
allow neutron_t groupadd_exec_t:file getattr;
allow neutron_t hostname_exec_t:file getattr;

#!!!! This avc can be allowed using one of the these booleans:
#     neutron_can_network, nis_enabled
allow neutron_t http_port_t:tcp_socket name_connect;
allow neutron_t httpd_config_t:dir search;
allow neutron_t journalctl_exec_t:file getattr;
allow neutron_t kdumpctl_exec_t:file getattr;
allow neutron_t keystone_exec_t:file getattr;
allow neutron_t loadkeys_exec_t:file getattr;
allow neutron_t login_exec_t:file getattr;
allow neutron_t mandb_exec_t:file getattr;
allow neutron_t memcached_exec_t:file getattr;
allow neutron_t mount_exec_t:file getattr;
allow neutron_t mysqld_exec_t:file getattr;
allow neutron_t mysqld_safe_exec_t:file getattr;
allow neutron_t nova_exec_t:file getattr;
allow neutron_t passwd_exec_t:file getattr;
allow neutron_t pinentry_exec_t:file getattr;
allow neutron_t ping_exec_t:file getattr;
allow neutron_t plymouth_exec_t:file getattr;
allow neutron_t policykit_auth_exec_t:file getattr;
allow neutron_t rsync_exec_t:file getattr;
allow neutron_t screen_exec_t:file getattr;
allow neutron_t sendmail_exec_t:file getattr;
allow neutron_t ssh_agent_exec_t:file getattr;
allow neutron_t ssh_exec_t:file getattr;
allow neutron_t ssh_keygen_exec_t:file getattr;
allow neutron_t su_exec_t:file getattr;
allow neutron_t systemd_notify_exec_t:file getattr;
allow neutron_t systemd_passwd_agent_exec_t:file getattr;
allow neutron_t systemd_systemctl_exec_t:file getattr;
allow neutron_t systemd_tmpfiles_exec_t:file getattr;
allow neutron_t traceroute_exec_t:file getattr;

#!!!! This avc can be allowed using one of the these booleans:
#     neutron_can_network, nis_enabled
allow neutron_t unreserved_port_t:tcp_socket name_connect;
allow neutron_t vlock_exec_t:file getattr;
