apiVersion: v1
kind: Pod
metadata:
  name: nginx
  labels:
    app: nginx
    romana.io/tenant: t1
    romana.io/segment: s1
spec:
  containers:
  - name: nginx
    image: nginx
    ports:
    - containerPort: 80
