---
- name: Install service configurations
  template: src="upstart/{{ item }}" dest="/etc/init/{{ item }}"
  with_items:
    - dnsmasq-calico.conf
    - romana-agent.conf
    - romana-policy-agent.conf
